.makeStyles-card-114 {
color: rgba(0, 0, 0, 0.87);
width: 100%;
border: 0;
display: flex;
position: relative;
font-size: .875rem;
min-width: 0;
word-wrap: break-word;
background: #FFF;
box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
margin-top: 30px;
border-radius: 6px;
margin-bottom: 30px;
flex-direction: column;
}
